%h1 Edit Location
%table{border: "10"}
  %tr
    %td
      %form{action: "/login/admin_dashboard/location/#{location[:id]}", method: 'GET', style: 'display: inline'}
        %input{type: 'submit', value: 'edit'}
    %td= location[:address]
    %td= location[:email_address]
    %td= location[:phone_number]
    %td= location[:description]